# Eclipse settings
.metadata
.classpath
.project
/bin/
# Target folders and build results
/bin/
/target/

# Specific to Java/Maven/Gradle
*.jar
*.war
*.zip

# Other common IDE files
.DS_Store
*.log
*.swp